<!--
  Generated template for the AbsencePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
    <ion-navbar hideBackButton>
      <button  ion-button menuToggle style="display: block !important;">
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>Absence </ion-title>
    </ion-navbar>
  </ion-header>


<ion-content padding class="background">
  <div class="style">
    <span class="modif" >
      {{rate}} %
    </span>
  
      <round-progress [current]="current" [max]="max"  class="effet" ></round-progress>
  </div>
  <h1>Taux total d'absence </h1>
  <ion-list style="background-color: transparent;" no-lines  >
    <div *ngFor="let item of items;let i = index">
        <button style="background-color: transparent;
        border-bottom: 2px solid brown"  ion-item (click)="itemSelected(i) " *ngIf="EtudiantAbsObject[item]"  >
          {{EtudiantAbsObject[item].lang}}
            <ion-icon name="arrow-dropdown"></ion-icon>
            
            <ion-badge item-end>{{EtudiantAbsObject[item].rate}}</ion-badge>
          </button> 
             <ion-list style="background-color: transparent;"  *ngIf="i==itemsel" >
               <button style="background-color: transparent;"  *ngFor="let elem of subItems[item]"  ion-item  >
                {{ elem | date:'yyyy-MM-dd'}}
               </button>
      
      
             </ion-list>
              
        
    </div>
    
  </ion-list>
</ion-content>
