page-app {
    
    ion-list.list.list-md {
        margin: 218px -2px 11px -2px;
    }
    .item-block {
        margin: 10px;
        padding: 4px;
    }
    list-border {
        border-bottom: 1px solid black;
    }
   
   


}
